@model IEnumerable<Cart>

@{

    Layout = "~/Views/Shared/_LayoutShoping.cshtml";
    var proName = ViewBag.ProductDetials;


}
<!-- Product section-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />



<script>

    $(document).on('click', '.value-control', function () {
        var action = $(this).attr('data-action')
        var target = $(this).attr('data-target')
        var value = parseFloat($('[id="' + target + '"]').val());
        if (value > 0) {
            if (action == "plus") {
                value++;
            }
            if (action == "minus") {
                value--;
            }
            $('[id="' + target + '"]').val(value);
            var price = $('#price1').val();
            var totalPrice = parseInt(value) * parseFloat(price == '' ? 0 : price);
            console.log(totalPrice);
            $('#quntity1 input').val(totalPrice.toFixed(0));
        }
    });
</script>
<section class="py-5">
    <div class="container ">
        @foreach (var item in proName)
        {
            <div class="row">
                <div class="col-md-6">
                    <img name="Image" id="Image" class="card-img-top mb-5 mb-md-0" src="~/assets/images/@item.Image" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder" name="ProductsName" id="ProductsName">@item.ProductName</h1>
                    <div class="fs-5 mb-5">
                        <span>@item.Price RS</span>
                    </div>
                    <p class="lead">@item.Description</p>
                    <div class="card">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ">
                                <div class="flex-0">
                                    <p name="IdProducts" id="IdProducts">@item.Id</p>
                                    <h1 name="Color" id="Color">@item.Color</h1>
                                    <h5>الكمية</h5>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <a class="btn btn-default value-control" data-action="minus" data-target="font-size">
                                                <span class="glyphicon glyphicon-minus">
                                                </span>
                                            </a>
                                        </span>
                                        <input name="Qty" type="text" value="1" class="form-control" id="font-size" />
                                        <span class="input-group-btn">
                                            <a class="btn btn-default value-control" data-action="plus" data-target="font-size">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                        </span>
                                    </div>
                                    <input id="price1" type="hidden" value="@item.Price" />
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5> السعر</h5>
                                    </div>

                                    <div id="quntity1" class="col-sm-6">
                                        <input disabled name="price" class="Price" id="price" value="@item.Price" />
                                    </div>
                                </div>
                            </li>
                            <a type="submit" id="btnSave" asp-action="chekout" asp-route-id="@item.Id" class="btn btn-outline-dark container-fluid ">

                                إضاف الى السلة
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</section>



@*

                                   <input class="form-control text-center me-3" id="Qty" onblur="getVal()" type="number" name="Qty" value="@Quantity" style="max-width: 3rem" />
                                *@
@*

  <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Special Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sale Item</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Popular Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $40.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>










 *@
