@model IEnumerable<ProductDetials>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewData["Title"] = "Home Page";
	
}




	
		<div class="col-sm-10 bg-secondary ">
			@if (@TempData["alter"] != null)
			{
				<div class="alert alert-success">
					<h3 >@TempData["alter"]</h3>
				</div>
			}
			<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
				<!--begin::Content wrapper-->
				<div class="d-flex flex-column flex-column-fluid">
					<!--begin::Toolbar-->
					<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
						<!--begin::Toolbar container-->
						<!--end::Toolbar container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Content-->
					<div id="kt_app_content p-10" class="app-content flex-column-fluid">
						<!--begin::Content container-->
						<div id="kt_app_content_container p-5" class="app-container container-xxl">
							<div class="card">
								<!--begin::Card header-->
								<div class="card-header border-0 pt-6">
									<!--begin::Card title-->
									<div class="card-title">
										<form asp-action="Index" method="post">
										<!--begin::Search-->
										<div class="d-flex align-items-center position-relative my-1">
											<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
											<div >

											<span class="svg-icon svg-icon-1 position-absolute ms-1">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
													<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
												</svg>
                                                    </span>
                                                </div>
                                        <!--end::Svg Icon-->
												<input type="text" name="ProductName" id="ProductName" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="ابحث عن المنتج" />
									
										@if (TempData["show"]!=null)
										{
											<a asp-action="index">@TempData["show"]</a>
										}


											</div>
                                        </form>
										<!--end::Search-->
									</div>
									<!--begin::Card title-->
									<!--begin::Card toolbar-->
									<div class="card-toolbar">
										<!--begin::Toolbar-->
										<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
											<!--begin::Filter-->
						
											<!--end::Filter-->
											<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> إضافة منتج جديد</button>
											
										</div>
										<!--end::Toolbar-->
										<!--begin::Group actions-->
							
										<!--end::Group actions-->
									</div>
									<!--end::Card toolbar-->
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body pt-0">
									<!--begin::Table-->
									<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
										<!--begin::Table head-->
										<thead>
											<!--begin::Table row-->
											<tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
												<th class="w-10px pe-2">
													<div class="form-check form-check-sm form-check-custom form-check-solid me-3">
														<input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_customers_table .form-check-input" value="1" />
													</div>
												</th>
												<th class="min-w-125px text-end" style="font-family:cairo">رقم المنتج </th>
												<th class="min-w-125px text-end" style="font-family:cairo"> اسم المنتج </th>
												<th class="min-w-125px text-end" style="font-family:cairo">الأجراء</th>


											</tr>
											<!--end::Table row-->
										</thead>
										<!--end::Table head-->
										<!--begin::Table body-->

                                       
												@if (Model != null)
												{
													@foreach (var item in Model)
                                            { 
												<tbody class="fw-semibold text-gray-600">
                                            <tr v-for="(item, aidx) in Franchies" :key="aidx">
											<!--begin::Checkbox-->
													<td>
														<div class="form-check form-check-sm form-check-custom form-check-solid">
															<input class="form-check-input" type="checkbox" value="1" />
														</div>
													</td>
													<!--end::Checkbox-->
													<!--begin::Name=-->
													<td>

														<p href="#" class="text-gray-600 text-hover-primary mb-1">@item.Id</p>



													</td>
													<!--end::Name=-->
													<!--begin::Email=-->
													<td>

														<p href="#" class="text-gray-600 text-hover-primary mb-1">@item.ProductName</p>


													</td>




													<td>

															<a class="btn-primary btn" asp-route-id="@item.Id" asp-action="Edit"><i class="far fa-pen-to-square"></i></a>
															<a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn"><i class="far fa-trash-can"></i></a>
														</td>



                                                
												
                                            </tbody>  
											}
												}
										<!--end::Table body-->
									</table>
									<!--end::Table-->
								</div>
								<!--end::Card body-->
							</div>


							<!-- Modal -->
							<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">إضافة منتج جديد</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										@*
	<form method="post" asp-action="CreateNewProduct">
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<label for="proudectname">اسم المنتج</label>
														<input id="ProductName" name="ProductName" type="text" class="form-control col-form-label-sm" />
												</div>

											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
											<button type="submit" class="btn btn-primary">حفظ</button>
										</div>
                                        </form>
										*@
									
									</div>
								</div>
							</div>
						
							<!-- Button trigger modal -->
					

							<!-- Modal -->


						</div>
						<!--end::Content container-->
					</div>
					<!--end::Content-->
				</div>

			</div>
		</div>
		</div>


